@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: antiquewhite;
  color: brown;
  text-align: center;
  margin-top: 100px;
}

#eat.card-container {
  background-color: rgb(68, 187, 164);
  position: absolute;
  top: 8px;
  left:16px;
}